.purple-text {
    color: rgb(115, 0, 168);
    font-size: 20px;
}

.btn-outline-purple {
    border: 2px solid rgba(115, 0, 168, 0.767);
}

.btn, .timer {
    margin: 10px;
    padding: 6px 12px;
}

.incorrectTimer {
    margin: 10px;
    padding: 6px 12px;
    background: red;
    color: white;
    font-size: 20px;
}

.btn:hover {
    background:rgba(115, 0, 168, 0.767);
    color: white;
}

.answerChoiceBtn {
    background:rgba(115, 0, 168, 0.767);
    color: white;
}

.answerChoiceBtn:hover {
    background: rgba(234, 0, 255, 0.589);
}

.correct {
    color: limegreen;
    font-weight: bold;
    font-style: italic;
}

.incorrect {
    color: red;
    font-weight: bold;
    font-style: italic;
}
